body {
    font-family: Arial, sans-serif;
    background-color: rgb(249 250 251);
    margin: 0;
}

.navbar {
    background-color: white;
    border-bottom: solid;
    border-color: #e5e7eb;
    border-width: 1;
    display: flex;
    justify-content: center;
}

.navItems {
    width: 80rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0.5rem 20px;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#apiSearch {
    width: 25%;
    max-width: 800px; /* Increased max-width */
    padding: 5px;
    font-size: 14px;
}